
:root {
    --main-bg-color: #24416f;
    --color-font-header: #24416f;
    --color-font-main: #24416f;
    --color-font-footer: #ffffff;
    --footer-bg-color: #60C5F3;
    --div-bg-color: #e2e1e1;
  
  }

* {
    padding: 0;
    margin: 0;
    font-family: "Comic Sans MS";  
    font-weight: normal;
    
}

header {    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: flex-end;
    color: var(--color-font-header);
    height: 25vh;
    width: auto;
}

h1 {
    position: absolute;
    font-weight: normal;
}

a, #myAnchor{
    margin-left: 175vh;
}

img, #starSecondPage {
    height: 35px;
    width: 35px;
    
}

main {
    background-color: var(--main-bg-color);
    width:auto;
    height: 67.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;   
}

.tablecontent {
    display: flex;
    background-color: var(--div-bg-color);
    width: 70%;
    height: 50%;
    border-radius: 2vh;
    text-align: center;
    justify-content: center; 
    align-items: center; 
  }

.buttons {
    display: flex;
    justify-content: end;
    margin-left: 10vh;
    
    
}

#favorite, #next {
    border-radius: 2vh;
    color: var(--color-font-header);
    padding: 10px 25px;
    cursor: pointer;
    margin-right: 9vh;
    width: 120px;
}

#favorite {
    background-image: url("/Images/Star.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 10px;
    padding: 10px 15px;
    
}

.titlediv {
    background-color: var(--div-bg-color);
    color: var(--color-font-main);
    height: 8vh;
    width: 60vh;
    border-radius: 2vh;
    text-align: center;       
}

h2 {
    padding: 1vh;
}

#data {
    color: var(--color-font-header);
}

#logo {
    position: absolute;
    left: 0;
    height: 25vh;
    width: 25vh;
}

p {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

footer {
    color: var(--color-font-footer);
    background-color: var(--footer-bg-color);
    height: auto;
    width: auto; 
    padding: 1vh;
    height: 5.5vh;
    width: auto;
}
